@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: 'Patrick Hand SC', cursive;;
}

.background {
  background-color: black;
  margin: 0;
  padding: 0;
}

.center-container {
  text-align: center;
  margin-top: 5%;
}

.icon-alice {
  font-size: 20em;
   -webkit-animation: float 12s ease-in-out alternate infinite;
    animation: float 12s ease-in-out alternate infinite;
}

.icon-alice:hover {
  color: lightblue;
}

.icon-alice:active {
  color: aqua;
}


@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

@keyframes float{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

@-webkit-keyframes spin {
    0% {
        transformY: rotate(0deg);
    }
    100% {
        transformY: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.icon-rabbit {
  font-size: 5em;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-animation: spin 8s ease-in-out alternate infinite;
  animation: spin 8s ease-in-out alternate infinite;
}

.icon-rabbit:hover{
  color: orange;
}

.icon-rabbit:active{
  color: yellow;
}

.icon-teapot{
  font-size: 7em;
  position: absolute;
  top: 45%;
  right: 5%;
  -webkit-animation: spin 12s ease-in-out alternate infinite;
  animation: spin 12s ease-in-out alternate infinite;
}

.icon-teapot:hover{
  color: yellow;
}

.icon-teapot:active{
  color: blue;
}

.title {
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  font-size: 1.25em;
  color: grey;
}

p {
  margin-top: 0;
}

i {
  color: white;
}

.white {
  color: white;
}

.icon-apple {
  font-size: 3em;
  position: absolute;
  top: 60%;
  left: 15%;
  -webkit-animation: float 6s ease-in-out alternate infinite;
  animation: float 6s ease-in-out alternate infinite;
}

.icon-apple:hover {
  color: red;
}

.icon-apple:active {
  color: orange;
}

.btn {
  background-color: #ccc;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 5px;
  display: inline-block;
  margin: .5em;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #aaa;
}

.btn i {
  vertical-align: baseline;
  padding-right: .5em;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}


