@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: 'Patrick Hand SC', cursive;;
}

.btn {
  background-color: #ccc;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 5px;
  display: inline-block;
  margin: .5em;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #aaa;
}

.btn i {
  vertical-align: baseline;
  padding-right: .5em;
}

.background {
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.icon-alice {
  text-align: center;
  font-size: 22em;
}

.white {
  color: white;
}

.title {
  font-size: 4em;
  margin: 0;
}

p {
  margin-top: 0;
}

